#sobre-mim{
    width: 100%;
    background-color:#311c3e;
    
}
h1{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 50px;
    margin-top: -17px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(254, 254, 254);
    text-align: center;
    padding-bottom: 55px;
    margin-bottom: -17px;

   
}
.perfil {
    max-width: 200px;
    
    
}
.perfil:hover{
    transform: scale(1.08);
}
